* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}
input,
button {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 2em;
  padding: 0 5px;
  border-radius: 5px;
  border-width: 0;
}
button {
  background-color: #24a8f1;
}
input:focus,
button:focus {
  border: none;
  outline: none;
}
img {
  max-width: 100%;
}
.not-found {
  text-align: center;
  color: #f8f800;
}
.off {
  display: none;
}
